<article class="post">
  <header class="post__header">
    <time class="post__date" datetime="{{ postDate | dateToFormat('yyyy-LL-dd') }}">{{ postDate | dateToFormat('d LLL y') }}</time>
    <h1 class="post__title">
      {% if postUrl %}
        <a href="{{ postUrl }}">{{ postTitle | safe }}</a>
      {% else %}
        {{ postTitle | safe }}
      {% endif %}
    </h1>
  </header>
  {% if postExcerpt %}
    {{ postExcerpt | markdownify | safe }}
    <p>
      <a href="{{ postUrl }}"aria-label="Continue reading “{{ postTitle }}”">Read more…</a>
    </p>
  {% else %}
    {{ postContent | safe }}
  {% endif %}
</article>