{% set blockClasses = block.size if block.size else 'md' %}
<figure class="{{ blockClasses }}">
  {% if block.type == 'image' %}
    {% set image = block.filename | urlencode %}
    <img
      loading="lazy"
      src="/media/{{ image }}"
      {% if block.alt %}alt="{{ block.alt }}"{% endif %}
      {% if block.width %}width="{{ block.width }}"{% endif %}
      {% if block.height %}height="{{ block.height }}"{% endif %}
    >
  {% elif block.type == 'video' %}
    <video
      src="/media/{{ block.filename }}"
      playsinline
      {% if block.autoplay %}autoplay{% endif %}
      {% if block.loop %}loop{% endif %}
      {% if block.muted %}muted{% endif %}
      {% if block.controls %}controls{% endif %}
      {% if block.width %}width="{{ block.width }}"{% endif %}
      {% if block.height %}height="{{ block.height }}"{% endif %}
    ></video>
  {% endif %}
  {% if caption %}
    <figcaption>{{ caption | markdownifyInline | safe }}</figcaption>
  {% endif %}
</figure>