
{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

{# Meta Tags #}
<meta property="og:site_name" content="{{ global.title }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:url" content="{{ global.url }}{{ absolutePageUrl }}">
{% if description %}
<meta name="description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if image %}
  <meta property="og:image" content="/media/{{ image }}">
{% endif %}

{# RSS Feed #}
{% if collections.posts.length %}
<link type="application/atom+xml" rel="alternate" href="{{ global.url }}/feed.xml" title="{{ global.title }}">
{% endif %}