<!doctype html>
<html lang="{{ global.lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title ~ ' – ' ~ global.title if title else global.title }}</title>
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    {% include 'snippets/meta.njk' %}
  </head>
  <body>
  
    <header>
      <h1>
        <a href="{{ '/' | url }}">{{ global.title }}</a>
      </h1>
      <nav>
      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
      </nav>
    </header>

    <main>
      {{ content | safe }}
    </main>

    {% if global.footer %}
      <footer>
        {{ global.footer|markdownify|safe }}
      </footer>
    {% endif %}

  </body>
</html>
