---
layout: base
permalink: "/"
---

<div class="home-intro">
  {{ content | safe }}
</div>


{% set entries = collections.all | getPagesByPaths(entries) if entries else collections.projects %}

{# For each of the entries #}
{% for entry in entries %}

  {# Set the defaults #}
  {% set image = false %}
  {% set width = false %}
  {% set height = false %}
  {% set blockClasses = 'md' %}

  {# If the entry has media #}
  {% if entry.data.media %}
    {# Get the first featured image block #}
    {% set block = entry.data.media | getFeaturedImage %}
    {% if block %}
      {% set blockClasses = block.size if block.size %}
      {% set image = block.filename | urlencode %}
      {% set width = block.width if block.width else false %}
      {% set height = block.height if block.height else false %}
    {% endif %}
  {% endif %}

  {# If there is an image we can use #}
  {% if image %}
    <article class="home-block {{ blockClasses }}">
      <a href="{{ entry.url }}">
        <img
          loading="lazy"
          src="/media/{{ image }}"
          alt=""
          {% if width %}width="{{ width }}"{% endif %}
          {% if height %}height="{{ height }}"{% endif %}
        >
        <h2 class="home-block-title">{{ entry.data.title | safe }}</h2>
      </a>
    </article>
  {% endif %}
{% endfor %}