---
layout: base
permalink: "/{{ page.fileSlug }}/index.html"
---

<article class="page">
  <header class="page-header">
    <h1 class="page-title">{{ title | safe }}</h1>
  </header>
  {{ content | safe }}
</article>
