---
layout: base
permalink: "/posts/{{ title | slug }}/index.html"
---

{# TODO Use filename instead of slugified title throughout the site #}

<article>
  <header>
    <time datetime="{{ date | dateToFormat('yyyy-LL-dd') }}">{{ date | dateToFormat('d LLL y') }}</time>
    <h1>{{ title | safe }}</h1>
  </header>
  {{ content | safe }}
</article>

{% set next = collections.posts | nextInCollection(page.fileSlug) %}
{% set previous = collections.posts | prevInCollection(page.fileSlug) %}

{% if next or previous%}
  <div class="prev-next">
    {% if next %}
      <p class="prev-next__item prev-next__item--next">
        <a href="{{ next.url }}">Next post</a>
      </p>
    {% endif %}
    {% if previous %}
      <p class="prev-next__item prev-next__item--prev">
        <a href="{{ previous.url }}">Previous post</a>
      </p>
    {% endif %}
  </div>
{% endif %}