---
layout: base
permalink: "/posts/{{ page.fileSlug }}/index.html"
---

<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title | safe }}</h1>
    <time class="post-date" datetime="{{ date | dateToFormat('yyyy-LL-dd') }}">{{ date | dateToFormat('d LLL y') }}</time>
  </header>
  {{ content | safe }}
</article>

{% set next = collections.posts | nextInCollection(page.fileSlug) %}
{% set previous = collections.posts | prevInCollection(page.fileSlug) %}

{% if next or previous%}
  <div class="pagination">
    {% if next %}
      <p class="pagination-item pagination-item-next">
        <a href="{{ next.url }}">Next post</a>
      </p>
    {% endif %}
    {% if previous %}
      <p class="pagination-item pagination-item-prev">
        <a href="{{ previous.url }}">Previous post</a>
      </p>
    {% endif %}
  </div>
{% endif %}