---
layout: base
pagination:
  data: collections.posts
  size: 10
  alias: postslist
permalink: "posts/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="posts">
  {% for post in postslist %}
    <article class="post">
      <header class="post-header">
        <h2 class="post-title">
          <a href="{{ post.url }}">{{ post.data.title | safe }}</a>
        </h2>
        <time class="post-date" datetime="{{ post.date | dateToFormat('yyyy-LL-dd') }}">{{ post.date | dateToFormat('d LLL y') }}</time>
      </header>
      {% if post.data.page.excerpt %}
        {{ post.data.page.excerpt | markdownify | safe }}
        <p><a href="{{ post.url }}" aria-label="Continue reading “{{ post.data.title }}”">Read more…</a></p>
      {% else %}
        {{ post.templateContent | safe }}
      {% endif %}
    </article>
  {% endfor %}
</div>

{% if pagination.pages and pagination.pages.length > 1 %}
  <nav class="pagination" aria-labelledby="pagination">
    <ol class="pagination-item pagination-list">
      {%- for pageEntry in pagination.pages %}
        <li>
          <a href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %} aria-label="Page {{ loop.index }}">{{ loop.index }}</a>
        </li>
      {%- endfor %}
    </ol>
  {% if pagination.page.next %}
    <p class="pagination-item">
      <a href="{{ pagination.href.next }}" aria-label="Next page">Next</a>
    </p>
  {% endif %}
  {% if pagination.page.previous %}
    <p class="pagination-item">
      <a href="{{ pagination.href.previous }}" aria-label="Previous page">Previous</a>
    </p>
  {% endif %}
  </nav>
{% endif %}
