---
layout: base
permalink: "/projects/{{ page.fileSlug }}/index.html"
---

<article class="project">
  <header class="project-header">
    <h1 class="project-title">{{ title | safe }}</h1>
    {% if dateStart or dateEnd %}
      <p class="project-details">{{ dateStart | yearRange(dateEnd) | safe }}</p>
    {% endif %}
    {% if content %}
      <div class="project-text">
        {{ content | safe }}
      </div>
    {% endif %}
  </header>
  {% if media %}
    {% for block in media %}
      <div class="project-block">
        {% set caption = block.caption %}
        {% include 'snippets/media.njk' %}
      </div>
    {% endfor %}
  {% endif %}
</article>

{% set next = collections.projects | nextInCollection(page.fileSlug) %}
{% set previous = collections.projects | prevInCollection(page.fileSlug) %}

{% if next or previous%}
  <div class="pagination">
    {% if next %}
      <p class="pagination-item pagination-item-next">
        <a href="{{ next.url }}">Next project</a>
      </p>
    {% endif %}
    {% if previous %}
      <p class="pagination-item pagination-item-prev">
        <a href="{{ previous.url }}">Previous project</a>
      </p>
    {% endif %}
  </div>
{% endif %}