---
layout: base
permalink: "/projects/{{ title | slug }}/index.html"
---

<article>
  <header>
    <h1>{{ title | safe }}</h1>
    {% if content %}
      <div>
        {{ content | safe }}
      </div>
    {% endif %}
    {% if dateStart or dateEnd or category %}
      <div>
        {% if dateStart or dateEnd or category %}
          <p>{{ dateStart | yearRange(dateEnd) | safe }}{{ ', ' + category if category }}</p>
        {% endif %}
      </div>
    {% endif %}
  </header>
  {% if media %}
    {% for block in media %}
      {% set caption = block.caption %}
      {% include 'snippets/media.njk' %}
    {% endfor %}
  {% endif %}
</article>

{% set next = collections.projects | nextInCollection(page.fileSlug) %}
{% set previous = collections.projects | prevInCollection(page.fileSlug) %}

{% if next or previous%}
  <div>
    {% if next %}
      <p>
        <a href="{{ next.url }}">Next project</a>
      </p>
    {% endif %}
    {% if previous %}
      <p>
        <a href="{{ previous.url }}">Previous project</a>
      </p>
    {% endif %}
  </div>
{% endif %}